
/* 
- En este archivo implementamos los estilos de la página index.html 
- Necesito vincular este archivo con el de index.html
*/

/* selector */
figcaption{
  /* propiedad => text-align - valor => center */
  text-align: center;
}

/* Asignar estilos al body */
body{
  /* color de fondo - color elegido */
  background-color: rgb(220, 220, 207);
}

/* Selecto con el id unico */
#unico{
  background-color: white;
}